@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.NewsArea>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "SiteMaster.cshtml";
    var allNews = Model.Content.Children<News>()
        .OrderBy(n => n.NewsDate)
        .Reverse();
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>@Model.Content.Headline</h1>
            @Model.Content.BodyText
            <hr />

            <div class="row">
                @foreach(var item in allNews)
                {
                    <div class="col-md-4">
                        <h2>@item.Headline</h2>
                        <em>@item.NewsDate.ToShortDateString()</em><br />
                        <img class="img-fluid" src="@item.NewsImage.Url" /><br />
                        <p>@item.Excerpt</p>
                        <a href="@item.Url">Read more</a>
                    </div>
                }
            </div>

        </div>
    </div>
</div>