@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.News>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "SiteMaster.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>@Model.Content.Headline</h1>
            <p><em>@Model.Content.Excerpt</em></p>
            @Model.Content.BodyText
        </div>

        <div class="col-md-4">
            <img src="@Model.Content.NewsImage.Url" alt="" class="img-fluid" />
            <hr />
            <h4>Latest news</h4>
            <ul class="list-group">
                @{ 
                    var latest = Model.Content.Siblings<News>()
                        .Where(x => x.Id != Model.Content.Id)
                        .OrderByDescending(x => x.CreateDate)
                        .Take(3);
                        foreach(var item in latest)
                        {
                            <li class="list-group-item"><a href="@item.Url">@item.Headline</a></li>
                        }
                }
            </ul>
        </div>

    </div>
</div>